fastapi==0.74.1
gcsfs==2022.2.0
ipdb==0.13.9
jupyterlab==3.2.9
nbdime==3.1.1
nltk==3.7
pip-chill==1.0.1
pylint==2.12.2
pytest==7.0.1
scikit-learn==1.0.2
seaborn==0.11.2
termcolor==1.1.0
uvicorn==0.17.5
python-dotenv
pandas
google
numpy
joblib
json.tools
selenium
bs4
regex
progressbar
